.sidebar-collapse #side-menu > li:first-child {
    border-left: none;
}

.nav {
    font-size: 13px;
}

.logo-element {
    height: 100px;
    text-align: center;
    padding: 0;
    margin: 0 5px;
}

.nav > li.active {
    border-left: none;
}
.nav > li > .sidemenu {
    padding: 10px 8px 10px 25px
}

.navbar-static-side {
    position: fixed !important;
}