.footer {    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 12px;
    min-height: 40px;
    position: absolute;
    bottom: 0;
    /* margin-top: 20px; */
    /* z-index: 1 !important; */
}